.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none
}

.treeview ul {
    margin-left:0.6em;
    position:relative
}
.treeview ul ul {
    /*margin-left:.5em*/
}
.treeview ul:before {
    content:"";
    display:block;
    position:absolute;
    width:0;
    top:0;
    bottom:15px;
    left:0;
    border-left:1px solid;
}
.treeview .treeview-icon {
    margin-right:2px;
}
.treeview .open-icon,
.treeview .close-icon {
    cursor: pointer;
    transition: color 0.4s;
}
.treeview .open-icon:hover,
.treeview .close-icon:hover {
    color: #337ab7;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    position:relative;
}
.treeview ul li:before {
    content:"";
    display:block;
    position:absolute;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    top:1em;
    left:0;
}
